<!DOCTYPE html>
<html>
<head>
    <title>md-timepicker</title>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <!-- 1. Load platform support before any code that touches the DOM. -->
    <script src="../platform/platform.js"></script>

    <!-- Optional: md-timepicker uses Roboto if included in your project but
    does not include it by default -->
    <link rel="import" href="../font-roboto/roboto.html">

    <!-- 2. Load the component using an HTML Import -->
    <link rel="import" href="md-timepicker.html">
    <style>
    html,body{
        background-color: #E5E5E5;
    }
    </style>
</head>
<body unresolved>
    <!-- 3. Declare the element by its tag. -->
    <md-timepicker></md-timepicker>

    <script>
    document.querySelector('md-timepicker').addEventListener('time-selected', function(e) {
        console.log(e.type, e.detail.time); // "time-selected" "some date"
    });
    </script>
</body>
</html>
